<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Game Community</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      #content {
        height: 10rem;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="/css/navbar-top.css" rel="stylesheet">
  </head>
  <body>
    <main role="main" class="container mt-3">
      <div class="jumbotron">
        <h2>Community Sample</h2>
        <a class="btn btn-success" href="/game" role="button">가위바위보 게임</a>
        <a class="btn btn-primary" href="/board" role="button">게시판</a>
      </div>
    </main>

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery.slim.min.js"></script>
  </body>
</html>
